@media screen and (max-width: 260px) {
  html {
    font-size: 31.5%;
  }
  .book {
    grid-template-rows: 1.5fr repeat(5, 0.7fr) 0.6fr;
  }
  .data,
  .date-field,
  .read-field {
    font-size: 2rem;
  }
  .book-button-read,
  .book-button-edit,
  .book-button-delete {
    padding-block: 0.35rem;
  }
}
@media screen and (min-width: 375px) and (min-height: 812px) and (max-width: 480px) {
  .library {
    row-gap: 2vh;
  }

  .my-stats-logo {
    margin-left: 1rem;
  }
  .book-stats,
  .pages-stats,
  .author-stats,
  .favorite-author-div,
  .language-stats,
  .date-stats {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 500px) {
  .add-book,
  .update-book {
    width: 65%;
  }
}
@media screen and (min-width: 768px) {
  .library {
    @include grid(repeat(2, 1fr), auto);
  }
  .book {
    min-width: 0;
  }
}
@media screen and (min-width: 800px) and (min-height: 1280px) {
  .stats {
    top: 42%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  html {
    font-size: 55.5%;
  }
  .library {
    grid-template-columns: repeat(3, 1fr);
  }
  .book {
    width: 30vw;
    grid-template-rows: minmax(100px, auto) repeat(5, 0.4fr) 0.6fr;
  }
  .add-book,
  .update-book {
    width: 40%;
  }
}
@media screen and (min-width: 800px) {
  .add-book,
  .update-book {
    width: 40%;
  }
  .edit-field,
  .field {
    input,
    select {
      width: 60%;
    }
  }
  .add-buttons,
  .edit-buttons {
    width: 60%;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1500px) {
  html {
    font-size: 62.5%;
  }
  .library {
    grid-template-columns: repeat(5, 1fr);
  }
  .book {
    min-height: 35vh;
  }
}
@media screen and (min-width: 1500px) {
  html {
    font-size: 67%;
  }
  .library {
    grid-template-columns: repeat(6, 1fr);
  }
}
