* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 45.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

p,
label,
button,
input {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

body {
  position: relative;
  background: #17181f;
}

header {
  height: 10vh;
}

main {
  position: relative;
  height: auto;
  min-height: 100vh;
}

nav {
  background: #17181f;
  height: 100%;
  color: #eeedf0;
  position: relative;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 0.75fr 0.35fr;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}

.logo h1 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.15rem;
  position: relative;
}

.logo .clr {
  color: #cb69c1;
  position: absolute;
  left: 99%;
  bottom: -5%;
}

.logo,
.logo-text {
  width: 95%;
  height: 90%;
  margin: auto;
}

.logo-text {
  letter-spacing: 0.1rem;
  font-style: italic;
}

.logo-text p {
  font-size: 1.4rem;
}

.stats {
  position: absolute;
  top: 32%;
  right: 4%;
}

.stats-close {
  position: absolute;
  top: 32%;
  right: 2%;
}

.my-stats-btn,
.stats-close {
  outline: none;
  border: none;
  background: transparent;
}

.my-stats-btn i,
.stats-close i {
  color: #eeedf0;
  font-size: 2.5rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.my-stats-btn i:hover,
.stats-close i:hover {
  transform: rotate(360deg) scale(1.1);
}

.stats-close i:hover {
  transform: none;
}

.my-stats {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: #17181f;
  transition: all 250ms linear;
}

.stats-header {
  height: 10vh;
  position: relative;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.stats-header h1 {
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  font-family: "Abril Fatface", cursive;
}

.stats-header .stats-head {
  color: #cb69c1;
}

.my-stats-active {
  visibility: visible;
  opacity: 1;
}

.stat-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 95%;
  margin: auto;
  margin-top: 10rem;
  height: 40vh;
}

.stat-info p,
.stat-info span {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.stat-info .stat-field {
  margin-left: 1rem;
  color: #cb69c1;
  letter-spacing: 0.15rem;
}

.stats-footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.add-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.add {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background: #6c72cb;
  overflow: hidden;
}

.add i {
  pointer-events: none;
  color: #eeedf0;
}

.add-active {
  background: #cb69c1;
}

.add::before {
  content: "";
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  position: absolute;
  top: 0%;
  transform: rotate(-45deg);
  transition: all 0.15s ease-in-out;
  background: rgba(203, 105, 193, 0.15);
}

.add:hover::before {
  margin-left: -300%;
}

.add:focus {
  animation-name: colorAnimation;
  animation-duration: 100ms;
}

.add:hover {
  box-shadow: 3px 1px 4px -1px rgba(255, 255, 255, 0.25);
}

.library {
  height: 100%;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 3rem;
  margin-top: 3rem;
  justify-items: center;
}

.book {
  overflow-wrap: anywhere;
  color: #eeedf0;
  width: 95%;
  min-width: 30vw;
  height: auto;
  min-height: 30vh;
  border: 1px solid rgba(238, 237, 240, 0.25);
  border-bottom: none;
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(65px, auto) repeat(5, 0.4fr) 0.6fr;
}

.book p {
  font-size: 1.4rem;
  margin: 0 0.5rem 0 0.5rem;
}

.title {
  margin: 0.75rem;
}

.title h2 {
  font-size: 1.9rem;
}

.book-data,
.info-read {
  margin-top: 0.2rem;
  margin-inline: 0.5rem;
}

.info {
  letter-spacing: 0.1rem;
  margin-inline-start: 0.3rem;
}

.book-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 2rem;
}

.book-button-read,
.book-button-edit,
.book-button-delete {
  cursor: pointer;
  width: 33.33%;
  border: none;
  outline: none;
  padding-block: 0.5rem;
}

.book-button-read i,
.book-button-edit i,
.book-button-delete i {
  pointer-events: none;
  color: #eeedf0;
  font-size: 1.8rem;
}

.book-button-read {
  background: #6c72cb;
}

.book-button-edit {
  background: #232535;
}

.book-button-delete {
  background: #cb69c1;
}

.add-book,
.update-book {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
  width: 80%;
  border: 1px solid white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(23, 24, 31, 0.85);
  backdrop-filter: blur(100%);
  transition: all 300ms linear;
}

.add-book-close,
.edit-book-close {
  position: absolute;
  right: 1%;
  padding: 0.2rem 0.5rem;
  border: none;
  background: rgba(23, 24, 31, 0.85);
  cursor: pointer;
}

.add-book-close i,
.edit-book-close i {
  pointer-events: none;
  color: #eeedf0;
  font-size: 1.3rem;
}

.edit-book-close {
  z-index: 5;
}

.add-book-active,
.update-book-active {
  visibility: visible;
  opacity: 1;
}

.library-inactive {
  filter: blur(0.15rem);
}

.field,
.edit-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.field input,
.field select,
.edit-field input,
.edit-field select {
  width: 80%;
}

.field input,
.edit-field input {
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.field input::placeholder,
.edit-field input::placeholder {
  text-align: center;
}

.field label,
.edit-field label {
  margin-bottom: 0.5rem;
}

.add-title,
.edit-title {
  margin-top: 1rem;
}

.edit-title {
  position: relative;
}

.book-id {
  color: transparent;
  font-size: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.add-buttons,
.edit-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

.add-book-btn,
.clear-book-btn,
.edit-book-btn,
.discard-edits-btn {
  width: 8rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  letter-spacing: 0.1rem;
}

.add-book-btn,
.edit-book-btn {
  background: rgba(108, 114, 203, 0.75);
}

.clear-book-btn,
.discard-edits-btn {
  background: rgba(203, 105, 193, 0.75);
}

.error-msg {
  letter-spacing: 0.1rem;
  color: #cb69c1;
  display: none;
}

.error-active {
  display: block;
}

.error-div {
  border: 2px solid #cb69c1;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-text {
  margin-right: 1rem;
}

.footer-text p {
  font-size: 1.3rem;
  color: #eeedf0;
}

.footer-text .dev {
  letter-spacing: 0.15rem;
  font-style: italic;
}

.gh-link i {
  font-size: 1.7rem;
  color: #eeedf0;
  transition: all 300ms ease-in-out;
}

.gh-link i:hover {
  transform: rotate(360deg) scale(1.1);
}

@media screen and (max-width: 260px) {
  html {
    font-size: 31.5%;
  }
  .book {
    grid-template-rows: 1.5fr repeat(5, 0.7fr) 0.6fr;
  }
  .data,
  .date-field,
  .read-field {
    font-size: 2rem;
  }
  .book-button-read,
  .book-button-edit,
  .book-button-delete {
    padding-block: 0.35rem;
  }
}

@media screen and (min-width: 375px) and (min-height: 812px) and (max-width: 480px) {
  .library {
    row-gap: 2vh;
  }
}

@media screen and (min-width: 500px) {
  .add-book,
  .update-book {
    width: 65%;
  }
}

@media screen and (min-width: 768px) {
  .library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .book {
    min-width: 0;
  }
}

@media screen and (min-width: 800px) and (min-height: 1280px) {
  .stats {
    top: 42%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  html {
    font-size: 55.5%;
  }
  .library {
    grid-template-columns: repeat(3, 1fr);
  }
  .book {
    width: 30vw;
    grid-template-rows: minmax(100px, auto) repeat(5, 0.4fr) 0.6fr;
  }
  .add-book,
  .update-book {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  .add-book,
  .update-book {
    width: 50%;
  }
  .edit-field input,
  .edit-field select,
  .field input,
  .field select {
    width: 60%;
  }
  .add-buttons,
  .edit-buttons {
    width: 60%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
  html {
    font-size: 62.5%;
  }
  .library {
    grid-template-columns: repeat(5, 1fr);
  }
  .book {
    min-height: 35vh;
  }
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 67%;
  }
  .library {
    grid-template-columns: repeat(6, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */