* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 45.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

p,
label,
button {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

body {
  position: relative;
}

header {
  height: 10vh;
}

main {
  height: 90vh;
}

nav {
  background: #17181f;
  height: 100%;
  color: #eeedf0;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 0.75fr 0.35fr;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}

.logo h1 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.15rem;
  position: relative;
}

.logo .clr {
  color: #cb69c1;
  position: absolute;
  left: 99%;
  bottom: -5%;
}

.logo,
.logo-text {
  width: 95%;
  height: 90%;
  margin: auto;
}

.logo-text {
  letter-spacing: 0.1rem;
  font-style: italic;
}

.logo-text p {
  font-size: 1.4rem;
}

.add-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.add {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background: #6c72cb;
  overflow: hidden;
}

.add i {
  pointer-events: none;
  color: #eeedf0;
}

.add-active {
  background: #cb69c1;
}

.add::before {
  content: "";
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  position: absolute;
  top: 0%;
  transform: rotate(-45deg);
  transition: all 0.15s ease-in-out;
  background: rgba(203, 105, 193, 0.15);
}

.add:hover::before {
  margin-left: -300%;
}

.add:focus {
  animation-name: colorAnimation;
  animation-duration: 100ms;
}

.add:hover {
  box-shadow: 3px 1px 4px -1px rgba(255, 255, 255, 0.25);
}

main {
  background: #17181f;
  position: relative;
  height: minmax(100vh, auto);
}

.library {
  height: 100%;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(150px, 0.35fr));
}

.book {
  color: #eeedf0;
  width: auto;
  height: 20rem;
  margin-top: 2rem;
  border: 1px solid #eeedf0;
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(5, 0.7fr) 0.6fr;
}

.book p {
  font-size: 1.4rem;
  margin: 0 0.5rem 0 0.5rem;
}

.book-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.book-button-read,
.book-button-delete {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  padding-block: 0.5rem;
}

.book-button-read i,
.book-button-delete i {
  pointer-events: none;
  color: #eeedf0;
  font-size: 1.8rem;
}

.book-button-read {
  background: #6c72cb;
}

.book-button-delete {
  background: #cb69c1;
}

.add-book {
  display: none;
  position: absolute;
  z-index: 2;
  width: 80%;
  border: 1px solid white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(23, 24, 31, 0.85);
  backdrop-filter: blur(100%);
}

.add-book-close {
  position: absolute;
  right: 0%;
  padding: 0.2rem 0.5rem;
  border: none;
  background: rgba(23, 24, 31, 0.85);
  cursor: pointer;
}

.add-book-close i {
  pointer-events: none;
  color: #eeedf0;
  font-size: 1.3rem;
}

.add-book-active {
  display: block;
}

.library-inactive {
  filter: blur(0.15rem);
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.field input,
.field select {
  width: 80%;
}

.field input {
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.field input::placeholder {
  text-align: center;
}

.field label {
  margin-bottom: 0.5rem;
}

.add-title {
  margin-top: 1rem;
}

.add-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
  border: 1px solid red;
  margin-bottom: 1rem;
}

.add-book-btn,
.clear-book-btn {
  width: 8rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  letter-spacing: 0.1rem;
}

.add-book-btn {
  background: rgba(108, 114, 203, 0.75);
}

.clear-book-btn {
  background: rgba(203, 105, 193, 0.75);
}

.error-msg {
  letter-spacing: 0.1rem;
  color: #cb69c1;
  display: none;
}

.error-active {
  display: block;
}

.error-div {
  border: 2px solid #cb69c1;
}
/*# sourceMappingURL=style.css.map */